<div class="project-contents">
  <div id="mobile-app-dev-container" class="container-fluid mobile-dev-bg text-center">
    <h1>Mobile Application Development</h1>
    <hr>
    <h3>Pitch Perfect</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/pitch-perfect/RecordSoundsVC.png" style="width: 375px; height: 667px">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/pitch-perfect/RecordButtonPressed.png" style="width: 375px; height: 667px">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/pitch-perfect/PlaybackSoundsVC.png" style="width: 375px; height: 667px">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/pitch-perfect/PlaybackButtonPressed.png" style="width: 375px; height: 667px">
      </div>
      <div class="design-description">
        An iOS application that allows for the user to record their voice and play it back with various effects.
        Fully developed in Swift 3.
        Uses Apple's UIKit Framework and AVAudioFoundation.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://github.com/leoespinal/Pitch-Perfect" target="_blank">
            <button class="sketch-link-btn">Code</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: white">
    </div>

    <h3>Mem Sim</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/mem-sim/App%20Main%20UI.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/mem-sim/App%20Main%20UI%20Filled%20In.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/mem-sim/App%20Results%20UI.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-apps/mem-sim/App%20Results%20Detail%20UI.png">
      </div>
      <div class="design-description">
        An iOS application that serves as a memory management simulator that can be used by computer science students who are taking an Operating Systems course
        and want to simulate how the paging memory management scheme in an operating system works.
        Fully developed in Swift 3.
        Uses Apple's UIKit Framework objects and protocols such as UISplitView, UITableViewController, UITableViewDelegate, and UITableViewDataSource.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://github.com/leoespinal/iOS-Memory-Management-Simulator" target="_blank">
            <button class="sketch-link-btn">Code</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: white">
    </div>

  </div>


  <div id="mobile-web-design-container" class="container-fluid mobile-web-design-bg text-center">
    <h1>Mobile and Web Application UI Designs</h1>
    <hr style="border-color: #1b1b1b">
    <h3>iOS Chat App UI</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/chat-app-ui/Login%20Screen%20UI.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/chat-app-ui/Inbox%20Messages%20UI.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/chat-app-ui/New%20Message%20UI.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/chat-app-ui/Chat%20UI.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/chat-app-ui/Settings%20UI.png">
      </div>
      <div class="design-description">
        This is a user interface I designed for an iOS chat style application using Sketch 3.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://sketch.cloud/s/KvZAn" target="_blank">
            <button class="sketch-link-btn">View on Sketch Cloud</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: #1b1b1b">
    </div>

    <h3>iOS Travel App UI</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/travel-app-ui/Login%20Screen.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/travel-app-ui/Sign%20in%20With%20Email.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/travel-app-ui/Home%20Screen.png">
      </div>
      <div class="design-description">
        This is a user interface I designed for an iOS travel themed application using Sketch 3.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://sketch.cloud/s/AxnZ5" target="_blank">
            <button class="sketch-link-btn">View on Sketch Cloud</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: #1b1b1b">
    </div>

    <h3>iOS Instagram Style App UI</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/insta-clone-app-ui/iPhone%206%20Instajam%20Profile%20Page.png">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/insta-clone-app-ui/iPhone%206%20Instajam%20Homepage%20.png">
      </div>
      <div class="design-description">
        This is a user interface I designed is for a social media application. This theme was inspired by Instagram and designed using Sketch 3.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://sketch.cloud/s/oYkbY" target="_blank">
            <button class="sketch-link-btn">View on Sketch Cloud</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: #1b1b1b">
    </div>

    <h3>iOS Camera App UI</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/camera-app-ui/iPhone%206.png">
      </div>
      <div class="design-description">
        This is a simple camera app user interface designed using Sketch 3.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://sketch.cloud/s/R1aMy" target="_blank">
            <button class="sketch-link-btn">View on Sketch Cloud</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: #1b1b1b">
    </div>

    <h3>iOS Login Page App UI</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/login-ui/app-login-screen.png">
      </div>
      <div class="design-description">
        This is a simple user interface I designed as an app login landing page using Sketch 3.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://sketch.cloud/s/YGyYM" target="_blank">
            <button class="sketch-link-btn">View on Sketch Cloud</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: #1b1b1b">
    </div>

    <h3>EZTrack Web App UI</h3>
    <div class="app-ui">
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/eztrack-web-app/EZTrack%20-%20Add%20Requirements%20View.png" style="max-width: 100%">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/eztrack-web-app/EZTrack%20-%20View%20Requirements%20View.png" style="max-width: 100%">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/eztrack-web-app/EZTrack%20-%20Team%20Backlog%20View.png" style="max-width: 100%">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/eztrack-web-app/EZTrack%20-%20User%20Backlog%20View.png" style="max-width: 100%">
      </div>
      <div class="ui-screen">
        <img src="../../assets/images/projects/mobile-web-ui-design/eztrack-web-app/Pop-Up%20User%20Story%20Form.png" style="max-width: 100%">
      </div>
      <div class="design-description">
        This is a user interface I designed using Sketch 3 for a project management web application used to manage software projects.
        <div class="sketch-link-container">
          <a class="sketch-url" href="https://sketch.cloud/s/dlwW3" target="_blank">
            <button class="sketch-link-btn">View on Sketch Cloud</button>
          </a>
        </div>
      </div>
      <hr style="margin: 70px; border-color: #1b1b1b">
    </div>

  </div>
</div>
