<div class="container-fluid">
  <div class="contact-me-title">
    <h4>Connect With Me</h4>
  </div>
  <div class="social-media">
    <a href="mailto:leo.espinal420@gmail.com"><img src="../../assets/images/email-contact-white.png" style="margin: 10px"></a>
    <a href="https://twitter.com/LeoCodes20?lang=en"><img src="../../assets/images/Twitter_Social_Icon_Circle_White.png" style="height: 35px; width: 35px; margin: 10px"></a>
    <a href="https://www.linkedin.com/in/rosemaryes/"><img src="../../assets/images/Linkedin-Logo-White-28px-TM.png" style="margin: 10px"></a>
    <a href="https://github.com/leoespinal"><img src="../../assets/images/GitHub-Mark-Light-32px.png" style="margin: 10px"></a>
  </div>
  <!-- Credit for email icon -->
  <!--<div>Icons made by <a href="https://www.flaticon.com/authors/epiccoders" title="EpicCoders">EpicCoders</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
</div>
