<div class="landing-page-container">
  <!-- Main content area -->
  <div class="main-content-area">
    <div class="code-symbol">
      {{codeSymbol}}
    </div>
    <div class="my-intro">
      <p class="line-1 anim-typewriter">Hello, World! I'm Leo.</p>
      <div class="headshot-img">
        <img src="../../assets/images/portolio-pic.png" class="img-circle" alt="" style="margin: 20px;">
      </div>
      <div>
        <p class="about-me">Software Engineer at Dell EMC.</p>
      </div>
      <div>
        <p class="about-me">Computer Science graduate student at Boston University.</p>
      </div>
      <div>
        <p class="about-me">Mobile and Web Application Development and Design Enthusiast.</p>
      </div>
    </div>
  </div>
  <app-contact></app-contact>
</div>


